@import 'variables';

.ve-btn {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  padding: 0.5em 1em;
  margin: 0;
  line-height: 1;
  box-shadow: none;
  text-shadow: none;
  border-radius: var(--btn-radius);
  border: 1px transparent solid;
  color: var(--red);
}

.ve-btn:hover, .ve-btn.hover {

}
.ve-btn:focus, .ve-btn.focus {

}
.ve-btn:active, .ve-btn.active {

}
.ve-btn:disabled, .ve-btn.disabled, .ve-btn[disabled] {
  opacity: 0.95;
  cursor: not-allowed;
}

.ve-btn-block {
  display: block;
  width: 100%;
}
