:root {
  --btn-radius: 0.3em;
  --primary-color: var(--md-primary);
  --secondary-color: var(--md-secondary-text);
  --reverse-color: #fff;
  --success-color: green; /* TODO */

  --md-dark-primary: #303f9f;
  --md-primary: #3f51b5;
  --md-light-primary: #c5cae9;
  --md-color: #fff;
  --md-accent-color: #ff4081;
  --md-primary-text: #212121;
  --md-secondary-text: #757575;
  --md-divder-color: #bdbdbd;
}


